*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #f5f3f3;
	font-size: 1.35rem;
	color: rgba(0,0,0,.8);
	text-shadow: 1px 1px 1px black;
	max-width: 1920px;
	overflow-x: hidden;
	margin: auto;
}
a{
	color: currentColor;
	text-decoration: none;
}
.post, .card{
	margin: 20px;
	padding: 20px;
	color: rgba(0,0,0,.6);
	text-shadow: 0px 0px 0px rgba(0,0,0,.1);
	border-radius: 5px;
	box-shadow: 0px 0px 1px rgba(0,0,0,.2),1px 1px 3px rgba(0,0,0,.2);
}
button{
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}
button:hover, .ad2:hover,.cta:hover{
	box-shadow: 0px 0px 1px rgba(0,0,0,.2),1px 1px 3px rgba(0,0,0,.2);
}
.cta{
	background-color: rgb(239 154 0);
	color: white;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 5px 10px;
	cursor: pointer;
}
.mobile{
	display: none !important;
}
.cta2{}
.bg1{
	background-color: rgba(255,255,255,.5);
}
.bg2{}
.flex{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.title{
	border-bottom: 1px solid gray;
	margin-bottom: 15px;
	font-weight: bold;
}
.nav{
	color: white;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	max-width: 1920px;
	box-shadow: 1px 1px 3px rgba(0,0,0,.2);
}
.navbar{
	background-color: rgb(239 154 0);
	height: 55px;
	padding: 0px 20px;
	justify-content: space-between;
	transition: all .5s ease-in;
}
.bottom-nav{
	font-size: 1rem;
	padding: 2px 20px;
	background-color: rgba(0,0,0,.8);
	justify-content: space-between;
}
.logo{
	font-size: 2.2rem;
	font-weight: bold;
	transition: all .5s ease-in;
}
.nav-links{
	position: relative;
	transition: all 1s ease;
}
.nav-links a, .dropbtn{
	display: flex;
	align-items: center;
	margin: 0px;
	padding: 6px 20px;
	border-right: 1px solid rgba(0,0,0,.1);
	cursor: pointer;
}
.last{
	border: none !important;
}
.nav-links a:hover, .dropbtn:hover{
	background-color: rgba(200,150,100,.5);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(239 154 0);
  min-width: 200px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.5);
  top: 40px;
  right:0;
  z-index: 1;
}
.dropdown-content a {
  padding: 12px 16px;
  display: block;
}
.dropdown-content a:hover {background-color: rgba(200,150,100,.5);}
.dropdown:hover .dropdown-content {display: block;}


.burger, .closeNav{
	display: none;
}
.closeNav{
	position: absolute;
	background-color: rgba(200,150,100,.5);
	color: white;
	top: 10px;
	left: 10px;
	font-size: 1.5rem;
}
.burger div{
	height: 5px;
	width: 35px;
	margin: 5px;
	background-color: currentColor;
	cursor: pointer;
}

.main{
	margin-top: 75px;
	align-items: flex-start;
	min-height: 75vh;
  	position: relative;
  	transition: all .5s ease-in; 
}
.content{
	width: 70%;
	margin-right: 26%;
}
.sidebar{
	position: fixed;
	width: 24%;
	right: 2%;
	z-index: 1;
}
.sidenav{
	padding: 0px;
	margin: 20px 0px;
	width: 100%;
}


.author{
	font-size: 1rem;
	justify-content: space-between;
}
.post-body h2{
	font-size: 1.5rem;
	margin-top: 30px;
	margin-bottom: 10px;
}
.sidenav a{
	padding: 10px 15px;
	display: block;
	box-shadow: 0px 0px 1px rgba(0,0,0,.5);
	cursor: pointer;
}
.sidenav a:hover{
	background-color: rgba(0,0,0,.2);
	color: white;
}
.category{
	border: 1px solid rgba(0,0,0,.2);
	margin: 5px;
	padding: 1px;
	font-size: 1rem;
}
.ad{
	cursor: pointer;
	padding: 0px;
	margin: auto;
	display: block;
	width: 90%;
}
footer{
	width: 100%;
	position: relative;
}
.footer{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	background-color: rgba(0,0,0,.8);

}